nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background: rgba(9, 9, 10, 0.53);
    backdrop-filter: blur(14px);
    border-bottom: 1px solid var(--border);
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;

}

.nav-brand {
    font-family: "Black Ops One", serif;
    font-size: 1.5rem;
    color: var(--accent);
    text-decoration: none;
    letter-spacing: 0.04em;
}

.nav-links {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 70%;
    max-width: 400px;
    background: var(--bg2);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: right 0.3s ease;
    box-shadow: -10px 0 30px rgba(0,0,0,0.5);
    z-index: 205;
    padding: 2rem;
    list-style: none;
}

.nav-links.active {
    right: 0;
}

.nav-links a {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: var(--text);
    text-decoration: none;
    transition: color 0.2s;
}

.nav-links a:hover {
    color: var(--accent);
}

.nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 210;
}

.nav-toggle .bar {
    height: 3px;
    width: 100%;
    background-color: var(--accent);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.nav-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.nav-toggle.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.nav-toggle.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

@media(max-width:900px) {
    .two-col {
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }

    .stats-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .tgrid,
    .pgrid {
        grid-template-columns: 1fr;
    }

    .sfgrid {
        grid-template-columns: 1fr;
    }

    .hero {
        padding: 0 1.5rem 4rem;
    }

    .pcard.wide {
        grid-column: span 1;
    }

    nav {
        padding: 0 1.5rem;
    }
}
